body {
	margin: 0px;
	padding: 0px;
	font-family: Palatino, American Typewriter, Times New Roman;
	font-size: 20px;
}

.head {
	padding: 0px 0px 0px 100px;
	margin: 0px;
	background-color: #347785;
	border-bottom: 4px solid #48A5B8;
}

.head h1 {
	padding: 20px;
	margin: 0px;
}

.center {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #91B1B8;
	padding: 15px;
	border-bottom: 4px solid #48A5B8;
}

.centerElement {
	border-bottom: 2px solid #347785;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.footer {
	padding: 5px 10px 5px 0px;
	margin: 0px;
	background-color: #347785;
	border-top: 4px solid #48A5B8;
	font-size: 0.7em;
	height: 18px;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: right;
	position: fixed;
	z-index:9999;
}

#editor, #code1, #code2, #code3, #code4, #code5, #code6 {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#cyrLoginHead, #fBLoginHead, #googleLoginHead {
	background-color:#347785;
	padding:5px 0px 3px 15px;
	font-size: 0.9em;
	margin-bottom: 10px;
	color:white;
	border-bottom: 1px solid black;
	border-top:1px solid black;
	cursor: pointer;
	border-radius:10px 10px 0px 0px;
}

.log {
	font-size:12px;
	font-family: Courier New;
	padding-bottom: 30px;
}

.row0 {
	background-color: #92c0ca;
}

.row1 {
	
}