engine/target/
engine-container/target/
rules/target/
web/target/
persistence/target/
.project
.settings/
engine/.classpath
engine-container/.classpath
rules/.classpath
web/.classpath
persistence/.classpath
web/src/main/webapp/apidocs/
.sonar/
target/
vagrant-multi-host/.vagrant
vagrant-multi-host/web
vagrant-multi-host/db
vagrant-multi-host/backend
vagrant-single-host/.vagrant
vagrant-single-host/web
vagrant-single-host/db
vagrant-single-host/backend
ansible/staging/.vagrant
ansible/production/.vagrant
ansible/roles/couchdb/files/
ansible/roles/cyc-container/files/cyc-engine-container
ansible/roles/cyc-engine/files/cyc-engine-container
ansible/roles/tomcat7/files/*.war
ansible/digital_ocean/digitalocean
ansible/roles/tomcat7/files/server-https.xml
