<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${cyc.home}/logs/detail_run_log.txt</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${cyc.home}/logs/detail_run_log.txt.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>


	<logger name="de.oglimmer.cyc.api.Guest"			level="error"></logger>	
	<logger name="de.oglimmer.cyc.api.CityProcessor"	level="error"></logger>	
	<logger name="de.oglimmer.cyc.api.City"				level="error"></logger>	
	<logger name="de.oglimmer.cyc.api.Cache"			level="error"></logger>	
	<logger name="de.oglimmer.cyc.api.FoodUnit"			level="error"></logger>	
	<logger name="de.oglimmer.cyc.api.Company" 			level="error"></logger>	
	<logger name="de.oglimmer.cyc.api.GuestDispatcher"	level="error"></logger>	
	<logger name="de.oglimmer.cyc.api.OpeningHours" 	level="error"></logger>
	<logger name="de.oglimmer.cyc.api.Day" 				level="info"></logger>
	<logger name="de.oglimmer.cyc.api.Month" 			level="error"></logger>
	<logger name="de.oglimmer.cyc.api.Year" 			level="error"></logger>
	<logger name="de.oglimmer.cyc.api.Establishment"	level="error"></logger>
	<logger name="de.oglimmer.cyc.api.Grocer" 			level="error"></logger>
	<logger name="de.oglimmer.cyc.api.MenuEntry" 		level="error"></logger>
	<logger name="de.oglimmer.cyc.api.MenuEntrySecret"	level="error"></logger>
	<logger name="de.oglimmer.cyc.api.GuestRuleImpl"	level="error"></logger>
	<logger name="de.oglimmer.cyc.api.EstablishmentRuleImpl"	level="error"></logger>
	<logger name="de.oglimmer.cyc.api.MenuEntryRuleImpl"	level="error"></logger>

	<logger name="de.oglimmer.cyc.api.EstablishmentRules.groovy"	level="error"></logger>
	<logger name="de.oglimmer.cyc.api.GuestRules.groovy"			level="error"></logger>
	<logger name="de.oglimmer.cyc.api.MenuEntryRules.groovy"		level="error"></logger>

	<logger name="de.oglimmer.cyc" 						level="debug"></logger>

	<root level="error">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>