[db]
{{ new_droplet.droplet.ip_address }}

[backend]
{{ new_droplet.droplet.ip_address }}

[web]
{{ new_droplet.droplet.ip_address }}

[all:children]
db
backend
web

[all:vars]
couchdb_user=user_cyc
couchdb_password=dckIeF7-1dmcD
couchdb_host=localhost
engine_host=localhost
engine_bind=localhost
web_host=localhost
tomcat_standalone=True
tomcat_standalone_https=False
jmxtrans=False
couchdb_multi_server=False
couchdb_server_url_base={{ couchdb_server_url_proto }}://{{ couchdb_server_url_host }}:{{ couchdb_server_url_port }}
couchdb_server_url_base_no_user={{ couchdb_server_url_proto }}://{{ couchdb_server_url_host }}:{{ couchdb_server_url_port }}
couchdb_server_url_schema={{ couchdb_server_url_base }}/{{ couchdb_schema_name }}
