[db]
{{ new_droplet.droplet.ip_address }}

[backend-full]
{{ new_droplet.droplet.ip_address }}

[backend-test]
{{ new_droplet.droplet.ip_address }}

[web]
{{ new_droplet.droplet.ip_address }}

[all:children]
db
backend-full
backend-test
web

[all:vars]
couchdb_user=user_cyc
couchdb_password=dckIeF7-1dmcD
couchdb_host=localhost
engine_password=
engine_host_test=localhost
engine_host_full=localhost
engine_bind=localhost
web_host=localhost
tomcat_standalone=True
tomcat_standalone_https=False
jmxtrans=False
redis=False
couchdb_multi_server=False
couchdb_server_url_base=http://user_cyc:dckIeF7-1dmcD@127.0.0.1:5984
couchdb_server_url_base_no_user=http://127.0.0.1:5984
couchdb_server_url_schema=http://user_cyc:dckIeF7-1dmcD@127.0.0.1:5984/cyc
couchdb_bind=127.0.0.1
